*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--host-font);
  background: var(--host-bg);
  color: var(--host-fg);
}
